.page_wrapper-daily-streaks {
    width: 100%;
    position: relative;
}

.daily-streaks {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
}


.scroll {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 100%;
}

.frame-1707480223-daily-streaks-tab {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}

.frame-1707480220-daily-streaks-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 34px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-17074802232-daily-streaks-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
}



.frame-1707480190-daily-streaks-tab {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}


.frame-1707480188-daily-streaks-tab {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.status-daily-streaks-tab {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
}

.frame-1707480268-daily-streaks-tab {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.ellipse-454-daily-streaks-tab {
    background: #fff100;
    border-radius: 50%;
    /* border-style: solid;
    border-color: #1f1f26;
    border-width: 1px; */
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
}

.incomplete-daily-streaks-tab {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.frame-1707480226-daily-streaks-tab {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.earned-points-daily-streaks-tab {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
}

._440-440-daily-streaks-tab {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.frame-1707480272-daily-streaks-tab {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

/* scroll */
.streak_cover {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: relative;
}

.frame-1707480195-daily-strek-tab {
    background: #f4f8f9;
    border-radius: 16px;
    padding: 30px 50px 30px 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 340px;
    width: 227px;
    position: relative;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
}

.frame-1707480190 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}



/* progressbar  don't touch this css */
.round-progress-bar {
    position: relative;
    display: inline-block;
}

.round-progress-bar .center_of_bar {
    position: relative;
}

.round-progress-bar .progress {
    transition: stroke-dashoffset 0.5s ease;
}


.round-progress-bar .frame-1707480270 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 41px;
    left: 41px;
}

.round-progress-bar .frame-1707480190 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480188-round-progress-bar {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.round-progress-bar .day {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 24px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.round-progress-bar ._1-45 {
    color: #151b4a;
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: relative;
}

/* progressbar end  */

.frame-17074801882 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.level-1 {
    color: #1e1d1c;
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    align-self: stretch;
}

.frame-1707480191 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

._01-dec-24-14-jan-25 {
    color: #1e1d1c;
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
}

/* Carousel */
/* Carousel */
.carousel_cover {
    width: calc(100% - 247px);
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.carousel-inner-daily-streaks {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 350px;
    transition: transform 0.5s ease-in-out;
}

.carousel-controls-1 {
    display: flex;
    gap: 10px;
}

.carousel-controls-2 {
    display: none;
}

.carousel-controls-1 button {
    cursor: pointer;
    border-radius: 50px;
}

.carousel-controls-1 button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.cards-container-daily-streaks {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 227px;
    height: 350px;
}

.frame-1707480205-daily-streaks {
    background: #f4f8f9;
    border-radius: 16px;
    padding: 30px 50px 30px 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 227px;
    height: 340px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
    min-width: calc((100% - 40px) / 3);
}

.frame-1707480190-daily-streaks {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.frame-1707480188-daily-streaks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.day-daily-streaks {
    color: #1e1d1c;
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    position: relative;
    align-self: stretch;
}

.day-daily-streaks-2 {
    color: #717484;
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    position: relative;
    align-self: stretch;
}

.button-upgrade-now-daily-streaks {
    background: #d9efe3;
    border-radius: 24px;
    border-style: solid;
    border-color: #009146;
    border-width: 0.4px;
    padding: 4px 16px 4px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 132px;
    height: 40px;
    position: relative;
}

.claimed-daily-streaks {
    color: #009146;
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-upgrade-now-2 {
    background: #f1f1f3;
    border-radius: 24px;
    border-style: solid;
    border-color: #717484;
    border-width: 0.4px;
    padding: 4px 16px 4px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 132px;
    height: 40px;
    position: relative;
}

.claimed-daily-streaks-2 {
    color: #717484;
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-1707480211 {
    background: #0b8a44;
    border-radius: 24px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: auto;
    height: 44px;
    position: relative;
    cursor: pointer;
}

.frame-1707480211:hover {
    background: #0b8a44db;
    border-radius: 24px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: auto;
    height: 44px;
    position: relative;
}

.frame-1707480213 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.view-history_daily_streak {
    color: #ffffff;
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}


/* view history  */

.Offcanvas_daily_streak {
    width: 768px;
}

.frame-1707480274_view_history {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    /* justify-content: flex-start; */
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 600px;
}

.cancel-daily-streak {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    position: relative;
    cursor: pointer;
}

.frame-1707480238 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    position: absolute;
    left: -7.07px;
    top: -7.07px;
    overflow: visible;
}

.view-history {
    color: #434343;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    align-self: stretch;
}

#table {
    background: #ffffff;
    border-radius: 24px;
    border-style: solid;
    border-color: #6a6a6a;
    border-width: 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480241 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480222 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480220 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480223 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.level-2 {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    padding-left: 0px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 700;
}

.frame-1707480225 {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480226 {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480188 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.earned-points {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
}

.frame-1707480268 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

._0 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.frame-17074802232 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.frame-1707480332 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.log-in-points {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 600;
    position: relative;
}

._40 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.frame-1707480333 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.level-points-daily_streak {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 600;
    position: relative;
    width: auto;
    height: 28px;
}

._20 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.frame-1707480334 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.bonus-points {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 600;
    position: relative;
}

._10 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.table2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480218 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-9 {
    background: #ececec;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    position: relative;
}

.frame-13 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 56px;
    position: relative;
}

.sr-no {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    width: 100px;
}

.frame-4 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 240px;
    position: relative;
}

.date {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    width: 190px;
}

.frame-2-daily-streak {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.status-daily-streak {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    flex: 1;
}

.frame-12 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.points-earned {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    flex: 1;
}

.frame-1707480221 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.table3 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 0px 2px 0px rgba(30, 30, 30, 0.15);
    overflow: hidden;
}

.table4 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-10 {
    background: #ffffff;
    border-radius: 4px;
    padding: 7px 16px 7px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    position: relative;
}

.frame-20 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 56px;
    position: relative;
}

._1 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    width: 70px;
}

._20-dec-2024-at-10-27-am {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.frame-22 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.frame-1707480267 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.ellipse-454 {
    background: #fff100;
    border-radius: 50%;
    border-style: solid;
    border-color: #1f1f26;
    border-width: 1px;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
}

.in-progress {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.frame-21 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

._02 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.level-1 {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
}

._50 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.ellipse-453 {
    background: #16c60c;
    border-radius: 50%;
    border-style: solid;
    border-color: #1f1f26;
    border-width: 1px;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
}

.completed {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

._502 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

._2 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    width: 70px;
}

._15-nov-2024-at-10-27-am {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.ellipse-4532 {
    background: #d3ac45;
    border-radius: 50%;
    border-style: solid;
    border-color: #1f1f26;
    border-width: 1px;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
}

.break {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.frame-17074802233 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._3 {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    width: 56px;
}

._10-nov-2024-at-10-27-am {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

/* table responsiveness  */


#dailystreakTab table,
#dailystreakTab table thead,
#dailystreakTab table tbody,
#dailystreakTab table tbody tr {
    width: 100%;
}

#dailystreakTab table tbody td:nth-child(1n) {
    width: 15%;
}

#dailystreakTab table tbody td:nth-child(2n) {
    width: 28%;
}

#dailystreakTab table tbody td:nth-child(3n) {
    width: 28%;
}

#dailystreakTab table tbody td:nth-child(4n) {
    width: 12%;
}

#dailystreakTab table tbody td:nth-child(5n) {
    width: 20%;
}




#dailystreakTab table {
    border-collapse: separate;
    border-spacing: 0;
}

#dailystreakTab table thead {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background-color: #ececec;
    height: 50px;
    overflow: hidden;
}

#dailystreakTab table thead tr thead th {
    font-weight: 600;
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
}

#dailystreakTab table thead tr tbody td {
    font-weight: 600;
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
}

#dailystreakTab table thead tr th:first-child,
#dailystreakTab table thead tr td:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

#dailystreakTab table thead tr th:last-child,
#dailystreakTab table thead tr td:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

#dailystreakTab .pad {
    padding-left: 10px;
}

#dailystreakTab table tbody td {
    text-align: start;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    height: 50px;
}

#dailystreakTab table tbody tr:nth-child(2n) {
    background-color: #F5F7FA;
}


@media (max-width:767px) {
    .frame-1707480223-daily-streaks-tab {
        padding: 30px 0px;
    }

    .frame-1707480226-daily-streaks-tab {
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-shrink: 0;
        position: relative;
    }

    .frame-17074802232-daily-streaks-tab {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
    }

    .status-daily-streaks-tab {
        color: var(--primary-darker, #151b4a);
        text-align: left;
        font-family: "Poppins-Bold", sans-serif;
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 0.26px;
        font-weight: 600;
        position: relative;
    }

    .carousel-inner-daily-streaks {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 350px;
        transition: transform 0.5s ease-in-out;
    }

    .cards-container-daily-streaks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 227px;
        height: 320px;
    }

    .frame-1707480205-daily-streaks {
        background: #f4f8f9;
        border-radius: 16px;
        padding: 30px 50px 30px 50px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 162px;
        height: 320px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
        min-width: calc((100% - 40px) / 3);
        /* Adjust based on cardsPerPage */
    }

    .earned-points-daily-streaks-tab {
        color: var(--primary-darker, #151b4a);
        text-align: left;
        font-family: "Poppins-Bold", sans-serif;
        font-size: 13px;
        line-height: 28px;
        letter-spacing: 0.26px;
        font-weight: 600;
        position: relative;
    }

    .carousel-controls-1 {
        display: none;
    }

    .carousel-controls-2 {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 10px;
        align-items: center;
    }

    .carousel-controls-2 button {
        cursor: pointer;
        border-radius: 50px;
    }

    .carousel-controls-2 button:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .frame-1707480190-daily-streaks-tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }


    .streak_cover {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        width: 100%;
        position: relative;
    }

    .carousel_cover {
        width: 100%;
        flex-shrink: 0;
        height: 340px;
        overflow: hidden;
        position: relative;

    }

    /* tabel responsiveness  */
    .in-progress,
    .completed,
    .break {
        font-size: 12px;
    }

    .level-2 {
        padding-left: 13px;
    }

    #table {
        background: none;
        border-radius: none;
        border-style: none;
        border-color: none;
        border-width: none;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }

    .frame-1707480274_view_history {
        min-width: 100%;
        max-width: 100%;
    }

    .frame-17074802232,
    .frame-1707480225 {
        display: none;
    }

    .frame-1707480267 {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        position: relative;
    }

    #dailystreakTab table tbody td:nth-child(1n) {
        width: 100%;
    }

    #dailystreakTab table tbody td:nth-child(2n) {
        width: 100%;
    }

    #dailystreakTab table tbody td:nth-child(3n) {
        width: 100%;
    }

    #dailystreakTab table tbody td:nth-child(4n) {
        width: 100%;
    }

    #dailystreakTab table tbody td:nth-child(5n) {
        width: 100%;
    }

    .Offcanvas_daily_streak {
        width: 320px;
    }

    #dailystreakTab table thead th,
    #dailystreakTab table tbody td {
        width: 100%;
    }

    #dailystreakTab table thead {
        height: auto;
        background-color: none;
    }

    #dailystreakTab .pad {
        padding: 0px;
    }

    #dailystreakTab table tbody td {
        text-align: end;
        font-family: "Poppins-SemiBold", sans-serif;
        font-size: 12px;
        height: 21px;
        margin-bottom: 14px;
    }

    #dailystreakTab table tbody tr:nth-child(2n) {
        background-color: #F5F7FA;
        border-radius: 8px;
    }

    #dailystreakTab tbody {
        padding: 0px;
    }

    #dailystreakTab tr,
    #dailystreakTab td {
        display: block;
        padding: 10px;
    }

    #dailystreakTab thead tr {
        position: absolute;
        top: -999px;
        left: -9999px;
    }

    #dailystreakTab td {
        position: relative;
        padding-left: 30%;
        border: none;
    }

    #dailystreakTab td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
}