.cover1 {
   padding-top: 30px;
   padding-bottom: 100px;
}

.container {
   /* padding: 80px 150px 80px 150px; */

}

.user-profile img,
.user-profile {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   background-color: rgb(243, 243, 243);
   object-fit: cover;
}

.userName {
   font-family: "Poppins-Regular", sans-serif;
   font-size: 24px;
   line-height: 24px;
   font-weight: 400;
   align-self: stretch;
   text-align: center;
}

.streak_count {
   cursor: pointer;
   background: #0b8a44;
   border-radius: 32px;
   padding: 7px 16px 7px 16px;
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 188px;
   height: 42px;
   color: #ffffff;
   text-align: left;
   font-family: "Poppins-Regular", sans-serif;
   font-size: 18px;
   line-height: 18px;
   font-weight: 400;
   transition: 0.5s ease-in;
}
.streak_count:hover {
   cursor: pointer;
   background: #0b8a44b3;
   border-radius: 32px;
   padding: 7px 16px 7px 16px;
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 188px;
   height: 42px;
   color: #ffffff;
   text-align: left;
   font-family: "Poppins-Regular", sans-serif;
   font-size: 18px;
   line-height: 18px;
   font-weight: 400;
}

.streak_day {
   cursor: pointer;
   background: #160f6c;
   border-radius: 32px;
   padding: 7px 16px 7px 16px;
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 188px;
   height: 42px;
   color: #ffffff;
   text-align: left;
   font-family: "Poppins-Regular", sans-serif;
   font-size: 18px;
   line-height: 18px;
   font-weight: 400;
   transition: 0.5s ease-in;
}
.streak_day:hover {
   cursor: pointer;
   background: #170f6cc9;
   border-radius: 32px;
   padding: 7px 16px 7px 16px;
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 188px;
   height: 42px;
   color: #ffffff;
   text-align: left;
   font-family: "Poppins-Regular", sans-serif;
   font-size: 18px;
   line-height: 18px;
   font-weight: 400;
}

#streak_menu2 {
   min-width: 320px;
   max-width: 480px;
}
#streak_menu1{
   width: auto;
}
.tooltip-menu2 {
   background: #ffffff;
   border-radius: 8px;
   padding: 16px;
   display: flex;
   flex-direction: row;
   gap: 0px;
   align-items: center;
   justify-content: center;
   height: 78px;
}

.frame-1707480477-menu2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   flex-shrink: 0;
   width: 100%;
}

.frame-1707480478-menu2 {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
}

.frame-1707480474-menu2 {
   display: flex;
   flex-direction: row;
   gap: 16px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   position: relative;
}

.frame-menu2 {
   flex-shrink: 0;
   width: 34px;
   height: 47.8px;
   position: relative;
   overflow: hidden;
   aspect-ratio: 34/47.8;
}

.group-menu2 {
   height: auto;
   position: absolute;
   left: 0px;
   top: 0px;
   overflow: visible;
}

.frame-1707480188-menu2 {
   display: flex;
   flex-direction: column;
   gap: 13.79px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 60px;
   height: 22px;
   position: relative;
}

._1-day-menu2 {
   color: #1e1d1c;
   text-align: center;
   font-family: "Poppins-SemiBold", sans-serif;
   font-size: 20px;
   line-height: 23.44px;
   font-weight: 600;
   position: relative;
   align-self: stretch;
}

.button-upgrade-now-menu2 {
   background: #593c98;
   border-radius: 16.55px;
   padding: 2.76px 11.03px 2.76px 11.03px;
   display: flex;
   flex-direction: row;
   gap: 5.52px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: auto;
   height: 30px;
   position: relative;
}

.grade-10th-menu2 {
   color: #ffffff;
   text-align: center;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 16px;
   font-weight: 500;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.frame-1707480476-menu2 {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   position: relative;
}

.frame-1707480189-menu2 {
   display: flex;
   flex-direction: column;
   gap: 13.79px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 60px;
   height: 22px;
   position: relative;
}

._3-day-menu2 {
   color: #1e1d1c;
   text-align: center;
   font-family: "Poppins-Regular", sans-serif;
   font-size: 20px;
   line-height: 23.44px;
   font-weight: 400;
   position: relative;
   align-self: stretch;
}

.button-upgrade-now2-menu2 {
   background: #d9efe3;
   border-radius: 16.55px;
   border-style: solid;
   border-color: #009146;
   border-width: 0.28px;
   padding: 2.76px 11.03px 2.76px 11.03px;
   display: flex;
   flex-direction: row;
   gap: 5.52px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   height: 30px;
   position: relative;
}

.inprogress-menu2 {
   color: #009146;
   text-align: center;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 16px;
   font-weight: 500;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.arrow-top-menu2 {
   flex-shrink: 0;
   width: 16px;
   height: 8px;
   position: absolute;
   left: 50%;
   translate: -50%;
   top: -8px;
   overflow: visible;
}

/* ///////// silver status /////// */
.status {
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
}

.frame {
   flex-shrink: 0;
   width: 20px;
   height: 20px;
   position: relative;
   overflow: hidden;
}

.frame-1707480257 {
   display: flex;
   flex-direction: column;
   gap: 2px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   position: relative;
}

.text {
   color: var(--neutral-gray-60, #6f6f6f);
   text-align: center;
   font-family: "Poppins-SemiBold", sans-serif;
   font-size: 16px;
   line-height: 16px;
   letter-spacing: 0.5px;
   font-weight: 600;
   position: relative;
}

.badge {
   background: var(--blue-blue-70, #0043ce);
   border-radius: 64px;
   flex-shrink: 0;
   width: 3px;
   height: 3px;
   position: relative;
   overflow: hidden;
}

.status2 {
   display: flex;
   flex-direction: column;
   gap: 2px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   position: relative;
}

.text {
   color: var(--neutral-gray-60, #6f6f6f);
   text-align: center;
   font-family: "Poppins-SemiBold", sans-serif;
   font-size: 16px;
   line-height: 16px;
   letter-spacing: 0.5px;
   font-weight: 600;
   position: relative;
}

.badge {
   background: var(--blue-blue-20, #d0e2ff);
   border-radius: 64px;
   flex-shrink: 0;
   width: 3px;
   height: 3px;
   position: relative;
   overflow: hidden;
}

/* ////// points ///// */
.frame-1707480169 {
   display: flex;
   flex-direction: row;
   gap: 24px;
   align-items: center;
   justify-content: start;
   flex-shrink: 0;
   width: 257.98px;
   position: relative;
}

.group-283 {
   flex-shrink: 0;
   width: 70px;
   height: 70px;
   position: static;
}

.frame-1707480168 {
   display: flex;
   flex-direction: column;
   gap: 4px;
   align-items: flex-start;
   justify-content: flex-start;
   flex: 1;
   position: relative;
}

.points {
   color: #4f4f5a;
   text-align: left;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 16px;
   line-height: 170%;
   font-weight: 500;
   position: relative;
   align-self: stretch;
}

.frame-1707480167 {
   display: flex;
   flex-direction: column;
   gap: 4px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 151px;
   position: relative;
}

._5 {
   color: #1f1f26;
   text-align: left;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 24px;
   line-height: 32px;
   font-weight: 500;
   position: relative;
   align-self: stretch;
}

.how-to-withdraw {
   color: #0b8a44;
   text-align: left;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 18px;
   line-height: 12px;
   font-weight: 500;
}

/* ////// level points ////// */
.frame-1707480171 {
   display: flex;
   gap: 24px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
}

.group-283 {
   flex-shrink: 0;
   width: 70px;
   height: 70px;
   position: static;
}

.frame-1707480170 {
   display: flex;
   flex-direction: column;
   gap: 4px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 133.98px;
   position: relative;
}

.level {
   color: var(--text-normal, #4f4f5a);
   text-align: left;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 16px;
   line-height: 170%;
   font-weight: 500;
   position: relative;
   align-self: stretch;
}

.silver {
   color: var(--text-headings, #1f1f26);
   text-align: left;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 24px;
   line-height: 32px;
   font-weight: 500;
   position: relative;
   align-self: stretch;
}


/* ////// invited friends  ////// */

.frame-1707480173 {
   display: flex;
   flex-direction: row;
   gap: 24px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   position: relative;
}

.group-283 {
   flex-shrink: 0;
   width: 70px;
   height: 70px;
   position: static;
}

.frame-1707480172 {
   display: flex;
   flex-direction: column;
   gap: 4px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 300px;
   position: relative;
}

.invited-friends {
   color: var(--text-normal, #4f4f5a);
   text-align: left;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 16px;
   line-height: 170%;
   font-weight: 500;
   position: relative;
   align-self: stretch;
}

.level-1-1-level-2-10 {
   color: var(--text-headings, #1f1f26);
   text-align: left;
   position: relative;
   align-self: stretch;
}

.level-1-1-level-2-10-span {
   color: var(--text-headings, #1f1f26);
   font-family: "Poppins-Medium", sans-serif;
   font-size: 24px;
   line-height: 32px;
   font-weight: 500;
}

.level-1-1-level-2-10-span2 {
   color: var(--text-headings, #1f1f26);
   font-family: "Poppins-Medium", sans-serif;
   font-size: 24px;
   line-height: 32px;
   font-weight: 500;
}

.level-1-1-level-2-10-span3 {
   color: var(--text-headings, #1f1f26);
   font-family: "Poppins-Regular", sans-serif;
   font-size: 16px;
   line-height: 32px;
   font-weight: 400;
}

/* ////// verify Email  ////// */

.frame-1707480178 {
   width: 100%;
   height: 199px;
}

.rectangle-12065 {
   border-radius: 16px;
   width: 100%;
   height: 199px;
}

.verify-email {
   color: #1f1f26;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 500;
   position: relative;
}

.next {
   border-radius: 16px;
   padding: 10px 24px 10px 24px;
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
   height: 44px;
   color: #1f1f26;
   font-family: "Poppins-Medium", sans-serif;
   font-size: 20px;
   line-height: 24px;
   font-weight: 500;
}

.frame-1707480176 {
   display: flex;
   gap: 12px;
   justify-content: center;
   align-items: center;

}

.points_email {
   color: rgba(31, 31, 38, 0.6);
   font-family: "Poppins-Medium", sans-serif;
   font-size: 20px;
   line-height: 20px;
   font-weight: 500;
   position: relative;
}



.next2 {
   text-align: left;
   font-family: "Manrope-Medium", sans-serif;
   font-size: 16px;
   line-height: 21px;
   font-weight: 500;
   position: relative;
}

.card-header {
   background-color: #ececec;
}

.card-header:first-child {
   border-radius: 16px 16px 0 0;
}

/* small screen  */

@media (max-width: 767px) {
   .container {
      padding: auto;

   }

   #streak_menu2 {
    width: auto;
      margin-top: 50px;
   }

   .tooltip-menu2 {
      background: #ffffff;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      align-items: center;
      justify-content: center;
      height: auto;
   }
   .frame-1707480474-menu2 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
   }
   .frame-1707480477-menu2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 100%;
   }

   .frame-1707480478-menu2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
   }

   .frame-1707480476-menu2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      flex-shrink: 0;
      position: relative;
   }

   /* points */
   .frame-1707480169 {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      width: 257.98px;
      position: relative;
   }

   .status {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;
   }

   .group-283 {
      flex-shrink: 0;
      width: 74px;
      height: 74px;
      position: static;
   }

   .master-icons {
      width: 41.62px;
      height: 41.62px;
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      overflow: hidden;
   }

   .icons {
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0%;
      left: 0%;
      bottom: 0%;
      top: 0%;
      overflow: visible;
   }

   .frame-1707480168 {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;
      justify-content: flex-start;
      flex: 1;
      position: relative;
   }

   .points {
      color: var(--text-normal, #4f4f5a);
      text-align: left;
      font-family: "Poppins-Medium", sans-serif;
      font-size: 16px;
      line-height: 170%;
      font-weight: 500;
      position: relative;
   }

   .frame-1707480167 {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      width: 151px;
      position: relative;
   }

   ._5 {
      color: var(--text-headings, #1f1f26);
      text-align: left;
      font-family: "Poppins-Medium", sans-serif;
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;
      position: relative;
   }

   .how-to-withdraw {
      color: #0b8a44;
      text-align: left;
      font-family: "Poppins-Medium", sans-serif;
      font-size: 18px;
      line-height: 12px;
      font-weight: 500;
      position: relative;
   }

   /* levels */
   .frame-1707480171 {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
   }

   .group-283 {
      flex-shrink: 0;
      width: 74px;
      height: 74px;
      position: static;
   }

   .ellipse-40 {
      background: var(--normal-secondary, #4ccba3);
      border-radius: 50%;
      width: 31.9%;
      height: 100%;
      position: absolute;
      right: 68.1%;
      left: 0%;
      bottom: 0%;
      top: 0%;
   }

   .frame {
      width: 41.62px;
      height: 41.62px;
      position: absolute;
      left: calc(50% - 99.8px);
      top: 50%;
      translate: 0 -50%;
      overflow: visible;
   }

   .frame-1707480170 {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      width: 133.98px;
      position: relative;
   }

   .level {
      color: var(--text-normal, #4f4f5a);
      text-align: left;
      font-family: "Poppins-Medium", sans-serif;
      font-size: 16px;
      line-height: 170%;
      font-weight: 500;
      position: relative;
   }

   .silver {
      color: var(--text-headings, #1f1f26);
      text-align: left;
      font-family: "Poppins-Medium", sans-serif;
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;
      position: relative;
   }

   /* invited friends     */
   .frame-1707480173 {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
   }

   .group-283 {
      flex-shrink: 0;
      width: 74px;
      height: 74px;
      position: static;
   }

   .ellipse-40 {
      background: #0b8a44;
      border-radius: 50%;
      width: 21.02%;
      height: 100%;
      position: absolute;
      right: 78.98%;
      left: 0%;
      bottom: 0%;
      top: 0%;
   }

   .frame {
      width: 41.62px;
      height: 41.62px;
      position: absolute;
      left: calc(50% - 159.81px);
      top: 50%;
      translate: 0 -50%;
      overflow: visible;
   }

   .frame-1707480172 {
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      width: 229px;
      position: relative;
   }

   .invited-friends {
      color: var(--text-normal, #4f4f5a);
      text-align: left;
      font-family: "Poppins-Medium", sans-serif;
      font-size: 16px;
      line-height: 170%;
      font-weight: 500;
      position: relative;
   }

   .level-1-1-level-2-10 {
      color: var(--text-headings, #1f1f26);
      text-align: left;
      font-family: "-", sans-serif;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      position: relative;
   }

   .level-1-1-level-2-10-span {
      color: var(--text-headings, #1f1f26);
      font-family: "Poppins-Medium", sans-serif;
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;
   }

   .level-1-1-level-2-10-span2 {
      color: var(--text-headings, #1f1f26);
      font-family: "Poppins-Regular", sans-serif;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
   }

   .level-1-1-level-2-10-span3 {
      color: var(--text-headings, #1f1f26);
      font-family: "Poppins-Regular", sans-serif;
      font-size: 16px;
      line-height: 32px;
      font-weight: 400;
   }

   /* ////// verify Email  ////// */
   .verify-email {
      color: #1f1f26;
      text-align: left;
      font-family: "Poppins-Medium", sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      position: relative;
   }
}