.frame-1707480426 {
    background: #f4f8f9;
    padding: 80px 200px 80px 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 100%;
    /* overflow-x:scroll; */
}

.frame-1707480369 {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.participation-summary {
    background: #ffffff;
    border-radius: 24px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.tab-group {
    border-style: solid;
    border-color: rgba(111, 111, 111, 0.8);
    border-width: 0px 0px 1px 0px;
    flex-shrink: 0;
    width: 100%;
    height: 40px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.tab-group::-webkit-scrollbar {
    display: none;
}

.line {
    opacity: 0.3;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 39.5px;
    overflow: visible;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    /* overflow: hidden; */
}

.active_tab {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;
    width: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #009146;
    border-bottom: 3px solid #009146;

}

.unactive_tab {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;
    width: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #6f6f6f;

}

.line-height {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 37px;
    position: relative;
    overflow: hidden;
}

.my-participations-summary2 {
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
    position: relative;
}

/* participation summary */



.participation-summary2 {
    color: #151b4a;
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}


#no-more-tables table,
#no-more-tables table thead,
#no-more-tables table tbody,
#no-more-tables table tbody tr,
#no-more-tables2 table,
#no-more-tables2 table thead,
#no-more-tables2 table tbody,
#no-more-tables2 table tbody tr {
    width: 100%;
}

#no-more-tables table thead th,
#no-more-tables table tbody td {
    width: calc(100% / 4);
}

#no-more-tables2 table thead th,
#no-more-tables2 table tbody td {
    width: calc(100% / 6);
}

#no-more-tables2 table,
#no-more-tables table {
    border-collapse: separate;
    border-spacing: 0;
}

#no-more-tables2 table thead,
#no-more-tables table thead {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background-color: #ececec;
    height: 50px;
    overflow: hidden;
}

#no-more-tables2 table thead tr th,
#no-more-tables table thead tr th {
    font-weight: 600;
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
}

#no-more-tables2 table tbody tr td,
#no-more-tables table tbody tr td {
    font-weight: 400;
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    height: 50px;
}

#no-more-tables2 td div,
#no-more-tables td div {
    text-align: start;
}

#no-more-tables2 table thead tr th:first-child,
#no-more-tables2 table thead tr td:first-child,
#no-more-tables table thead tr th:first-child,
#no-more-tables table thead tr td:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

#no-more-tables2 table thead tr th:last-child,
#no-more-tables2 table thead tr td:last-child,
#no-more-tables table thead tr th:last-child,
#no-more-tables table thead tr td:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

#no-more-tables2  .pad {
    padding-left: 10px;
}



.participation-summary2 {
    color: #151b4a;
    text-align: left;
    font-family: Poppins-Bold, sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: .36px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}

.participation-summary_2 {
    width: 100%;
}

.participation-summary_2_child {
    padding: 16px 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 30px;
}

@media (max-width:1300px) {
    .frame-1707480426 {
        background: #f4f8f9;
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        min-width: 100%;
        /* overflow-x:scroll; */
    }

    .pad {
        padding-left: 10px;
    }

}

@media (max-width:767px) {
    .frame-1707480426 {
        background: #f4f8f9;
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        min-width: 100%;
        /* overflow-x:scroll; */
    }

    /* /////////////table ////////////////// */
    #no-more-tables2 table thead th,
    #no-more-tables2 table tbody td,
    #no-more-tables table thead th,
    #no-more-tables table tbody td {
        width: 100%;
    }

    #no-more-tables2 table thead,
    #no-more-tables table thead {
        height: auto;
        background-color: none;
    }

    .pad {
        padding-left: 0px;
    }

    #no-more-tables2 table thead,
    #no-more-tables table thead {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        background-color: #ececec;
        height: 0px;
        overflow: hidden;
    }

    #no-more-tables2 table tbody td,
    #no-more-tables table tbody td {
        text-align: end;
        font-family: "Poppins-SemiBold", sans-serif;
        font-size: 12px;
        height: 21px;
    }


    #no-more-tables2 tbody,
    #no-more-tables2 tr,
    #no-more-tables2 td,
    #no-more-tables tbody,
    #no-more-tables tr,
    #no-more-tables td {
        display: block;
        padding-left: 0px;
    }

    #no-more-tables2 thead tr,
    #no-more-tables thead tr {
        position: absolute;
        top: -999px;
        left: -9999px;
        margin-bottom: 20px;
    }

    #no-more-tables2 td,
    #no-more-tables td {
        position: relative;
        /* min-width: 300px; */
        padding-left: 50%;
        border: none;
        text-align: end;
    }

    #no-more-tables2 td div,
    #no-more-tables td div {
        text-align: end;
    }

    #no-more-tables2 td:before,
    #no-more-tables td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }

    /* /////////////////////////////// */

    .participation-summary2 {
        color: #151b4a;
        text-align: left;
        font-family: Poppins-Bold, sans-serif;
        font-size: 19px;
        line-height: 28px;
        letter-spacing: .36px;
        font-weight: 700;
        position: relative;
        align-self: stretch;
    }

    .participation-summary_2 {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: none;
        padding: 10px 20px;
    }

    .participation-summary_2_child {
        padding: 16px 10px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        background-color: #F5F7FA;
        border-radius: 8px;
    }

    .frame-1707480369 {
        background-color: #ffffff;
        border-radius: 8px;
    }

    .participation-summary {
        box-shadow: none;
    }
}

/* \end{code} */