/* table top header */
.cover_list {
    padding: 40px 150px;
    min-width: 1367px;
}

.task-table {
    background: #ffffff;
    border-radius: 24px;
    padding: 30px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.frame-1707480227 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
}

.frame-1707480240 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
}

.frame-1707480226-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
}

.tasks {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
}

.frame-1707480220 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480224 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 615px;
    position: relative;
}

.tasksearchsample {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 450px;
    height: 44px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    position: relative;
}


._01-align-center {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.Add-Task {
    background: #009146;
    border-radius: 24px;
    padding: 10px 20px 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 162px;
    height: 44px;
    position: relative;
}

.add-task {
    color: #FFFFFF;
}

/* table */
.Table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
}

.table_header {
    background: #e1e1e1;
    padding: 16px;
    height: 50px;
}


#table_header table tbody tr:nth-child(2n) {
    background-color: #F5F7FA;
    border-radius: 8px;
}

.table_tr {
    height: 50px;
}

.table_tr_bg_task_table {
    background: #E5F7ED;
    border-radius: 8px;
}

.Table_Head_column_Task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    width: 11.1%;
}

.view-Details {
    background: #ececec;
    border-radius: 24px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.view {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.eye-2-1 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: visible;
}

/* pagination */
._3-task {
    background: #ffffff;
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
}

.frame1-16-task {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.showpagination-task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.select-entries-task {
    background: #009146;
    border-radius: 8px;
    padding: 8px 9px 8px 9px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}

._10-task {
    color: #ffffff;
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.bi-caret-down-fill-task {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    overflow: visible;
}

.entries-task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.frame2-16-task {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.previous-task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.active_page-task {
    background: #009146;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

._1-task {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
    width: 13px;
    height: 15px;
}



.frame-162-task {
    background: #e0e0e0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

._2-task {
    color: #1f1f26;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
    width: 13px;
    height: 15px;
}

.frame-17-task {
    background: #e0e0e0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.next3 {
    color: #1f1f26;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

/* add task  */

.frame-1707480412 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.radix-icons-cross-1 {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    position: relative;
    overflow: hidden;
}

.frame-1707480238 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    position: absolute;
    left: -7.07px;
    top: -7.07px;
    overflow: visible;
}

.update-task {
    color: #434343;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    width: 348px;
}

.frame-1707480461 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label {
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}

.label-span {
    color: #434343;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.label-span2 {
    color: #ff0505;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}



.placeholder {
    color: var(--gray-400, #9ca3af);
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.mingcute-down-line {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}

.group {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}

.frame-1707480229 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label2 {
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}

.label-2-span {
    color: #434343;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.label-2-span2 {
    color: #ff0505;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.placeholder2 {
    color: var(--gray-400, #9ca3af);
    text-align: left;
    font-family: var(--text-xs-normal-font-family, "Inter-Regular", sans-serif);
    font-size: var(--text-xs-normal-font-size, 12px);
    line-height: var(--text-xs-normal-line-height, 16px);
    font-weight: var(--text-xs-normal-font-weight, 400);
    position: relative;
    flex: 1;
}

.frame-1707480228 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label-2-span3 {
    color: #434343;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.label-2-span4 {
    color: #ff0505;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.frame-1707480230 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label3 {
    color: #434343;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}


.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-17074802302 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1707480243 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.input2 {
    background: var(--base-white, #ffffff);
    border-radius: 6px;
    border-style: solid;
    border-color: var(--gray-200, #e5e7eb);
    border-width: 1px;
    padding: 8px 12px 8px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 54px;
    position: relative;
}

.input3 {
    background: var(--base-white, #ffffff);
    border-radius: 24px;
    border-style: solid;
    border-color: #9ca3af;
    border-width: 1px;
    padding: 8px 12px 8px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 40px;
    position: relative;
}

.placeholder3 {
    color: #0b8a44;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.input4 {
    background: var(--base-white, #ffffff);
    border-radius: 24px;
    border-style: solid;
    border-color: #9ca3af;
    border-width: 1px;
    padding: 8px 12px 8px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    height: 40px;
    position: relative;
}

.placeholder4 {
    color: var(--gray-400, #9ca3af);
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

/* suitch */
.frame-1707480248 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 253px;
    position: relative;
}

.frame-1707480248 .property-1-default {
    background: #112f82;
    cursor: pointer;
    border-radius: 24.41px;
    width: 65px;
    height: 28px;
    position: relative;
    overflow: hidden;
}

.frame-1707480248 .ellipseon {
    background: var(--neutral-white, #ffffff);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
    top: 4px;
}

.frame-1707480248 .property-1-default .on {
    color: #ffffff;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 12px;
    line-height: 19.53px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    left: 6px;
    top: 4.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.frame-1707480248 .property-1-variant-2 {
    background: #8b909a;
    cursor: pointer;
    border-radius: 24.41px;
    width: 65px;
    height: 28px;
    position: relative;
    overflow: hidden;
}

.frame-1707480248 .ellipseoff {
    background: var(--neutral-white, #ffffff);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 39px;
    top: 4px;
}

.frame-1707480248 .off {
    color: #ffffff;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 12px;
    line-height: 19.53px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    right: 6px;
    top: 4.5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*------------------------------------  */

.frame-1707480246 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.task-levels {
    color: #434343;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    align-self: stretch;
}

.no-levels-found {
    color: #292d32;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.frame-1707480253 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.back {
    background: var(--base-white, #ffffff);
    border-radius: 24px;
    border-style: solid;
    border-color: #0b8a44;
    border-width: 1px;
    padding: 8px 12px 8px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 169px;
    height: 40px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    overflow: hidden;
    cursor: pointer;
}

.back2 {
    color: #0b8a44;
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    position: relative;
}

.back3 {
    background: #0b8a44;
    border-radius: 24px;
    border-style: solid;
    border-color: transparent;
    border-width: 0.5px;
    padding: 12px 32px 12px 32px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 169px;
    height: 40px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    overflow: hidden;
    cursor: pointer;
}

.back4 {
    color: #f4f8f9;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    position: relative;
}

/* view task */

.frame-1000008440_view_task {
    background: var(--white, #ffffff);
    border-style: solid;
    border-color: var(--light-grey, #dcdcdc);
    border-width: 0px 0px 1px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.frame-1000008442_view_task {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1000003152_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.duration_view_task {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 122px;
    position: relative;
}

.frame-1000003156_view_task {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.label_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
}

.icon-left-text_view_task {
    display: flex;
    flex-direction: row;
    gap: var(--core-spacing-spacing-md, 8px);
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.placeholder_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
}

.frame-1000003143_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.frame-1707480560_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.icon-left-text2_view_task {
    display: flex;
    flex-direction: row;
    gap: var(--core-spacing-spacing-md, 8px);
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: calc(100% - 138px);
    position: relative;
}

.placeholder2_view_task {
    text-align: left;
    position: relative;
    width: 314px;
}

.placeholder-2-span_view_task {
    color: #1f1f26;
    font-family: "Manrope-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.placeholder-2-span2_view_task {
    color: #0000ee;
    font-family: "Manrope-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-decoration: underline;
}

.frame-1000003144_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.icon-left-text3_view_task {
    display: flex;
    flex-direction: row;
    gap: var(--core-spacing-spacing-md, 8px);
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 24px;
    position: relative;
}

.frame-1707480549_view_task {
    background: rgba(11, 138, 68, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 80px;
    height: 25px;
    position: relative;
}

.placeholder3_view_task {
    color: #0b8a44;
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
}

.frame-1000003145_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.label2_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
    width: 86px;
    height: 16px;
}

.input_view_task {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-1000003146_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.placeholder4_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    width: 9px;
}

.frame-1000003147_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.frame-1000003150_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.frame-1000003151_view_task {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.rectangle-40508_view_task {
    background: #e6e8ea;
    border-radius: 100px;
    align-self: stretch;
    flex-shrink: 0;
    height: 1px;
    position: relative;
}

.frame-1707480554_view_task {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.task-levels_view_task {
    color: var(--primary-darker, #151b4a);
    text-align: left;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    letter-spacing: 0.36px;
    font-weight: 700;
    position: relative;
}

.table_view_task {
    background: #ffffff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.frame-1707480218_view_task {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.frame-9_view_task {
    background: #ececec;
    border-radius: 8px 8px 0px 0px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    /* gap: 8px; */
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    position: relative;
}

.frame-13_view_task {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% / 4);
    position: relative;
}

.frame-13_view_task2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: calc(100 / 4);
    position: relative;
}

.frame-13_view_task2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: calc(100% / 4);
    position: relative;
}

.name_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
}

.frame-15_view_task {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 56px;
    position: relative;
}

.criteria_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
}

.frame-17_view_task {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 56px;
    position: relative;
}

.points_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
}

.frame-16_view_task {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 56px;
    position: relative;
}

.bonus_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
}

.frame-12_view_task {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 60px;
    position: relative;
}

.actions_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.frame-1707480222_view_task {
    background: #ffffff;
    border-radius: 4px;
    padding: 16px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    /* gap: 8px; */
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    position: relative;
}

.one-day-a_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

._1_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

._4_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

._2_view_task {
    color: #1f1f26;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.frame-1707480216_view_task {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 60px;
    position: relative;
}

.frame-1707480208_view_task {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    position: relative;
    aspect-ratio: 1;
}

.edit_view_task {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
}

.group_view_task {
    width: 99.94%;
    height: 100%;
    position: absolute;
    right: 0.06%;
    left: 0%;
    bottom: -0.03%;
    top: 0.03%;
    overflow: visible;
    cursor: pointer;
}

.frame-1707480209_view_task {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    position: relative;
    aspect-ratio: 1;
    cursor: pointer;
}

.delete_view_task {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
    cursor: pointer;
}